PROVIDER_NAME=CONTA_AZUL_PROD
AUTH_URL=https://auth.contaazul.com/oauth2/authorize
TOKEN_URL=https://auth.contaazul.com/oauth2/token
CLIENT_ID=SEU_CLIENT_ID_PROD
CLIENT_SECRET=SEU_CLIENT_SECRET_PROD
REDIRECT_URI=https://lojanovoisrael.com.br/oauth/callback
SCOPES=openid profile aws.cognito.signin.user.admin
APP_PORT=5000
