PROVIDER_NAME=CONTA_AZUL_DEV
AUTH_URL=https://auth.contaazul.com/oauth2/authorize
TOKEN_URL=https://auth.contaazul.com/oauth2/token

# use os IDs/segredos da sua app de PRODUÇÃO
CONTA_AZUL_CLIENT_ID=5k3net0533tbg4ng5cl0311r3i
CONTA_AZUL_CLIENT_SECRET=qh1e56gc0p59hum3v9i4eomifu93vhuropis5ela0bcrvcfh9nm

# se cadastrou localhost (ou ngrok), use aqui:
CONTA_AZUL_REDIRECT_URI=http://localhost:3001/oauth/callback
# ou CONTA_AZUL_REDIRECT_URI=https://<seu-subdominio-ngrok>.ngrok.io/oauth/callback  

CONTA_AZUL_SCOPES=openid profile aws.cognito.signin.user.admin
APP_PORT=5000
